*.bak
*.bat
.DS_Store

/*
!/Interface/
!/.gitignore
!/README.textile
!/README.md

/Interface/ICONS/
/Interface/ICONS2/

/Interface/AddOns*/*
/Interface/AddOns/RayUI/core/test.lua
!/Interface/AddOns/!BugGrabber/
!/Interface/AddOns/BagSync/
!/Interface/AddOns/Bimbo/
!/Interface/AddOns/BugSack/
!/Interface/AddOns/GnomishVendorShrinker/
!/Interface/AddOns/MasterPlan/
!/Interface/AddOns/ncShadow/
!/Interface/AddOns/Postal/
!/Interface/AddOns/RayUI/
!/Interface/AddOns/Skada/
!/Interface/AddOns/xCT+/
