*.bak
*.bat
.DS_Store

/*
!/Interface/
!/.gitignore
!/README.textile
!/README.md
!/LICENSE.txt

/Interface/ICONS/
/Interface/ICONS2/

/Interface/AddOns*/*
/Interface/AddOns/RayUI/core/test.lua
!/Interface/AddOns/!BaudErrorFrame/
!/Interface/AddOns/Bimbo/
!/Interface/AddOns/Broker_WorldQuests/
!/Interface/AddOns/BugSack/
!/Interface/AddOns/GnomishVendorShrinker/
!/Interface/AddOns/MasterPlan/
!/Interface/AddOns/ncShadow/
!/Interface/AddOns/Postal/
!/Interface/AddOns/RayUI/
!/Interface/AddOns/RayUI_Options/
!/Interface/AddOns/Skada/
